$brand-primary: darken(#ffa519, 6.5%);

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

$margin: 20px;

header {
  .branding {
    background: $brand-primary;

    .heading {
      font-weight: 700;
      margin: $margin;
    }

    .subtitle {
      font-size: 1.3em;
      margin: $margin;
    }
  }

  nav {
    ul {
      

      li {
        display: inline-block;
        margin:$margin;
        font-weight: bold;
      }
    }

  }
}